@import 'config';

#webslides {
  section {
    a {
      font-size: 1rem;
      text-align: right;
      letter-spacing: 0.1rem;
      margin-top: -0.8rem;
    }
  }
  #section-1 span {
    background: url('/images/meroe.jpg') no-repeat bottom center;
    background-size: cover;
    opacity: 0.8;
  }

  #section-2 {
    .reasons p {
      padding-left: 2rem;
    }
  }

  .attr {
    font-size: 1.6rem;
  }
}

@import 'mobile';
