@import 'config';

#webslides {
  section {
    a {
      font-size: 1rem;
      text-align: right;
      letter-spacing: 0.1rem;
      margin-top: -0.8rem;
    }
    li {
      background: #fff;
    }
  }
  #section-1 {
    span {
      background: url('/images/meroe.jpg') no-repeat bottom center;
      background-size: cover;
      opacity: 0.8;
    }
  }

  #section-2 {
    .reasons p {
      padding-left: 2rem;
    }
  }

  #section-7 {
    figcaption {
      position: absolute;
      bottom: 2rem;
      left: 1rem;
    }
  }

  #section-9 {
    img {
      opacity: 0.8;
    }
    figcaption {
      right: 0;
      text-align: end;
    }
    footer {
      max-width: 45vw;
      line-height: 1.6;
    }
  }

  #section-10,
  #section-12 {
    figcaption {
      top: 0;
      right: 0;
      text-align: end;
      background: none;
    }
  }

  #section-15 {
    footer {
      right: 0;
      text-align: end;
    }
  }

 #section-22 {
   a {
     font-size: inherit;
   }
   .credits {
     font-style: italic;
   }
 }

  .attr {
    font-size: 1.6rem;
  }
}

@import 'mobile';
